body { 
  font-family: 'Montserrat', sans-serif; 
  margin:0; 
  padding:0; 
  background:#f5f2eb25; 
  height:100vh;
  overflow:hidden; 
}

.hidden { display:none; }

.banner { 
  position: relative; 
  height: 60vh;
  overflow: hidden; 
}

.banner-video { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  filter: brightness(0.5); 
}

.banner-content { 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #ffffff3e; 
  text-align: center; 
}

.banner-content h1 { 
  font-size: 2.5em; 
  margin-bottom: 20px; 
  letter-spacing: 4px; 
  color:#e6d9c5; 
}


.section, 
.personal-overlay, 
#tablaSection {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background:#fefaf0; 
  border-radius:15px;
  box-shadow:0 6px 20px rgba(0,0,0,0.2);
  width:90%;
  max-width:1000px;
  max-height:85vh; 
  overflow-y:auto;
  padding:20px;
  z-index:1000;
}


.buttons .btn { 
  font-size:1.2em; 
  padding:15px 30px; 
  margin:10px; 
  border-radius:10px; 
  transition:transform 0.3s; 
  background:#c2b280; 
  color:#fff;
  border:none;
}
.buttons .btn:hover { 
  transform:scale(1.1); 
  background-color:#a3916f; 
}


.grid { display:flex; flex-wrap:wrap; gap:15px; justify-content:center; }

.card { 
  display:flex; 
  flex-direction:column; 
  align-items:center; 
  padding:10px; 
  border:2px solid #d9cbb3; 
  border-radius:15px; 
  cursor:pointer; 
  transition:0.3s; 
  width:140px; 
  background:#fefaf0;
}
.card img { width:120px; border-radius:10px; margin-bottom:5px; }


input[type="text"], input[type="datetime-local"], input[type="password"] { 
  width:100%; 
  padding:10px; 
  margin:8px 0; 
  border-radius:10px; 
  border:1px solid #ccc; 
  background:#fdf7ec;
}


.btn { 
  background:#c2b280; 
  color:#fff; 
  border:none; 
  cursor:pointer; 
  padding:12px 20px; 
  margin:5px; 
  font-weight:600; 
  border-radius:10px; 
  box-shadow:0 3px 6px rgba(0,0,0,0.2); 
  transition:all 0.3s; 
}
.btn:hover { 
  background:#a3916f; 
  transform:translateY(-2px); 
}

table { width:100%; border-collapse:collapse; margin-top:20px; }
th, td { border:1px solid #d9cbb3; padding:10px; text-align:center; }
th { background:#bfa875; color:#fff; }
tr:nth-child(even) { background-color:#fdf7ec; }
tr:hover { background-color:#f4ebd7; }


@media(max-width:768px){
  .grid{flex-direction:column;align-items:center;}
  .card{width:80%;max-width:200px;}
  .banner-content h1{font-size:2em;}
}
